antlr4-python3-runtime==4.9.3
cached-property==1.5.2
certifi==2023.5.7
charset-normalizer==3.1.0
colour==0.1.5
contourpy==1.0.7
cycler==0.11.0
docstring-parser==0.15
fonttools==4.39.4
idna==3.4
importlib-resources==5.12.0
kiwisolver==1.4.4
llvmlite==0.40.0
matplotlib==3.7.1
multical==0.2.1
natsort==8.3.1
numba==0.57.0
numpy==1.24.3
numpy-quaternion==2022.4.3
omegaconf==2.3.0
opencv-contrib-python==4.6.0.66
packaging==23.1
palettable==3.3.3
Pillow==9.5.0
platformdirs==3.5.1
pooch==1.7.0
py-structs==0.2.14
pyparsing==3.1.0b2
PyQt5==5.15.9
PyQt5-Qt5==5.15.2
PyQt5-sip==12.12.1
pyrealsense2==2.53.1.4623
python-dateutil==2.8.2
pyvista==0.39.1
pyvistaqt==0.10.0
PyYAML==6.0
QtAwesome==1.2.3
QtPy==2.3.1
requests==2.31.0
scipy==1.11.0rc1
scooby==0.7.2
simple-parsing==0.1.2.post1
six==1.16.0
tqdm==4.65.0
typing_extensions==4.6.3
urllib3==2.0.2
vtk==9.2.6
zipp==3.15.0
